body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, "Lucida Grande",Verdana, "Microsoft Yahei", STXihei, hei;
  color: #000;
  background: #f2f2f2;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style: none;
}

ul {
  /* ul默认是有margin值和Padding值的 */
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

/* 搜索模块 */
.search-index {
  display: flex;
  position: fixed;
  left: 50%;
  right: 0;
  width: 100%;  /*固定定位的盒子应该有宽度; 以屏幕为主*/
  transform: translateX(-50%);    /*固定定位水平居中*/
  min-width: 320px;
  max-width: 540px;
  height: 44px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
}

.search {
  position: relative;
  flex: 1;
  height: 26px;
  line-height: 24px;    /* box-sizing是border-box */
  border: 1px solid #cccccc;
  margin: 7px 10px;
  font-size: 12px;
  color: #666;
  padding-left: 25px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.search::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background: url(../images/sprite.png) no-repeat -59px -279px;
  background-size: 104px auto;
}

.user {
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 12px;
  color: #2eaae0;
}

.user::before {
  content: "";
  display: table;
  width: 23px;
  height: 23px;
  background: url(../images/sprite.png) no-repeat -59px -194px;
  background-size: 104px auto;
  margin: 4px auto -2px;  /* 下面的元素可以往上靠 */
}

/* 焦点图 */
.focus {
  padding-top: 44px;
}
.focus img {
  width: 100%;
}

.local-nav {
  display: flex;
  height: 64px;
  background-color: #fff;
  margin: 3px 4px;
  border-radius: 5px;
}

.local-nav li {
  flex: 1;
}

.local-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.local-nav li [class^="local-nav-icon"] {
  width: 32px;
  height: 32px;
  margin: 8px 0 2px;
  background: url(../images/localnav_bg.png) no-repeat 0 0;
  background-size: 32px;
}

.local-nav li .local-nav-icon02 {
  background-position: 0 -32px;
}

.local-nav li .local-nav-icon03 {
  background-position: 0 -64px;
}

.local-nav li .local-nav-icon04 {
  background-position: 0 -96px;
}

.local-nav li .local-nav-icon05 {
  background-position: 0 -128px;
}

/* 主导航栏 */
nav {
  border-radius: 6px;
  margin: 0 4px 3px;
  overflow: hidden;
}

.nav-common {
  display: flex;
  height: 88px;
}

.nav-common:nth-child(2) {
  margin: 3px 0;
}

.nav-items {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-items a {
  flex: 1;
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav-items a:first-child {
  border-bottom: 1px solid #fff;
}

.nav-items:first-child a{
  border: 0;
  background: url(../images/hotel.png) no-repeat bottom center;
  background-size: 121px auto;
}

.nav-items:nth-child(-n+2) {
  border-right: 1px solid #fff;
}

.nav-common:nth-child(1) {
  background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}

.nav-common:nth-child(2) {
  background: -webkit-linear-gradient(left, #4b8fed, #53bced);
}

.nav-common:nth-child(3) {
  background: -webkit-linear-gradient(left, #34c2aa, #6cd558);
}

/* 侧导航栏 */
.subnav-entry {
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  background-color: #fff;
  margin: 0 4px;
  box-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.subnav-entry li{
  flex: 20%;  /* 每个子元素占据父元素的1/5 */ 
}

.subnav-entry a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  padding-bottom: 5px;
}

.subnav-entry-icon {
  width: 28px;
  height: 28px;
  margin-top: 8px;
  background: url(../images/subnav-bg.png) no-repeat;
  background-size: 28px auto;
}

.subnav-entry li:nth-child(2) .subnav-entry-icon {
  background-position: 0 -28px;
}

.subnav-entry li:nth-child(3) .subnav-entry-icon {
  background-position: 0 -60px;
}

.subnav-entry li:nth-child(4) .subnav-entry-icon {
  background-position: 0 -319px;
}

.subnav-entry li:nth-child(5) .subnav-entry-icon {
  background-position: 0 -96px;
}

.subnav-entry li:nth-child(6) .subnav-entry-icon {
  background-position: 0 -160px;
}

.subnav-entry li:nth-child(7) .subnav-entry-icon {
  background-position: 0 -195px;
}

.subnav-entry li:nth-child(8) .subnav-entry-icon {
  background-position: 0 -126px;
}

.subnav-entry li:nth-child(9) .subnav-entry-icon {
  background-position: 0 -226px;
}

.subnav-entry li:nth-child(10) .subnav-entry-icon {
  background-position: 4px -284px;
}

/* 销售模块 */
.sales-box {
  border-top: 1px solid #bbb;
  background-color: #fff;
  margin: 4px;
}

.sales-hd {
  position: relative;
  height: 44px;
  border-bottom: 1px solid #ccc;
}

.sales-hd h2 {  /*加入文字有利于SEO, 将文字不显示*/
  position: relative;
  text-indent: -999px;
  overflow: hidden;
}

.sales-hd h2::after {
  position: absolute;
  top: 8px;
  left: 20px;
  content: "";
  width: 79px;
  height: 15px;
  background: url(../images/hot.png) no-repeat 0 -20px;
  background-size: 79px auto;
}

.more {
  position: absolute;
  right: 5px;
  top: 2px;
  background: -webkit-linear-gradient(left, #ff5066, #fd6699);
  border-radius: 13px;
  padding: 3px 20px 3px 8px;
  color: #ffffff;
}

.more::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 9px;
  right: 9px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.row {
  display: flex;
}

.row a {
  flex: 1;
  border-bottom: 1px solid #eee;
}

.row a:nth-child(1) {
  border-right: 1px solid #eee;
}

.row a img {
  width: 100%;
}