<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-if的使用</title>
</head>

<body>
  <div id="app">
    <h3 v-if=isShow>{{msg}}</h3>    <!--  v-if=boolean -->
  </div>



  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        msg: "Hello VUE",
        isShow: true
      }
    });
  </script>

</body>

</html>