<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-if的使用</title>
</head>

<body>
  <div id="app">
    <h3 v-if=isShow>{{msg}}</h3>           <!--  v-if=boolean -->
    <h3 v-else>Hello React~</h3>           <!--  和if  else类似 -->

    <h3 v-if="score>90">优秀</h3>
    <h3 v-else-if="score>=80">良好</h3>    <!--实际开发中很少使用v-else-if, 如果需要判断处理，可以放到计算属性中处理-->
    <h3 v-else-if="score>=60">及格</h3>
    <h3 v-else>不及格</h3>
    <h2>{{result}}</h2>                    <!--通过计算属性来处理-->
  </div>



  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        msg: "Hello VUE",
        isShow: true,
        score: 97
      },
      computed: {
        result() {
          let showMsg = " ";
          if(this.score >= 90) {
            showMsg = "优秀";
          } else if(this.score >= 80) {
            showMsg = "良好";
          } else if(this.score >= 60) {
            showMsg = "及格";
          } else {
            showMsg = "不及格";
          }
          return showMsg;
        }
      }
    });
  </script>

</body>

</html>