.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 220px;
    /* background-color: hotpink; */
}

.main .focus {
    float: left;
    width: 721px;
    height: 455px;
    background-color: purple;
}

.news_flash {
    float: right;
    width: 250px;
    height: 455px;
    /* background-color: skyblue; */
}

.news {
    height: 165px;
    /* background-color: pink; */
    border: 1px solid #e4e4e4;
}

.news_head {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}

.news_head h5 {
    font-size: 14px;
}

.news_head  a i {
    font-size: 12px;
}

.news_body {
    padding: 5px 15px 0 15px;
}

.news_body ul li {
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.life_service {
    height: 209px;
    /* background-color: purple; */
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.life_service ul li {
    float: left;
    width: 25%;
    height: 70px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.life_service ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
}

.life_service ul li:nth-child(1) i{    
    background: url(../images/icons.png) no-repeat -16px -14px;
}

.life_service ul li:nth-child(2) i {   
    background: url(../images/icons.png) no-repeat -79px -13px;
}

.life_service ul li:nth-child(2) {
    position: relative;
}

.life_service ul li:nth-child(2) img {
    position: absolute;
    top: 0;
    right: 2px;
}

.life_service ul li:nth-child(3)  i{    
    background: url(../images/icons.png) no-repeat -142px -13px;
}

.life_service ul li:nth-child(4) i {    
    background: url(../images/icons.png) no-repeat -206px -12px;
}

.life_service ul li:nth-child(5) i {    
    background: url(../images/icons.png) no-repeat -16px -85px;
}

.life_service ul li:nth-child(6) i {    
    background: url(../images/icons.png) no-repeat -79px -85px;
}

.life_service ul li:nth-child(7) i {    
    background: url(../images/icons.png) no-repeat -142px -85px;
}

.life_service ul li:nth-child(8) i {    
    background: url(../images/icons.png) no-repeat -206px -84px;
}

.life_service ul li:nth-child(9) i {    
    background: url(../images/icons.png) no-repeat -16px -155px;
}

.life_service ul li:nth-child(10) i {    
    background: url(../images/icons.png) no-repeat -79px -155px;
}

.life_service ul li:nth-child(11) i {    
    background: url(../images/icons.png) no-repeat -142px -152px;
}

.life_service ul li:nth-child(12) i {    
    background: url(../images/icons.png) no-repeat -206px -154px;
}

.bargain {
    margin-top: 5px;
}

.recom {
    height: 163px;
    margin-top: 12px;
    background-color: hotpink;
}

.recom_head {
    height: 163px;
    width: 208px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_body ul li {
    position: relative;
    float: left;
}

/* .recom_body ul li img{
    此处最好将传过来的图片写死，防止布局错乱
} */

.recom_body ul li:nth-child(-n+3)::after {   /*只为前三个添加竖线伪元素*/
    position: absolute;
    content: "";
    right: 0;
    top: 20px;
    width: 1px;
    height: 123px;
    background-color: #ddd;
}

.floor .page_width {
    margin-top: 20px;;
}

.jiadian .box_head,
.mobile .box_head {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.jiadian .box_head h3,
.mobile .box_head h3 {
    font-size: 18px;
    color: #c81623;
}

.jiadian .box_head .tab_list,
.mobile .box_head .tab_list {
    line-height: 30px;
}

.jiadian .box_head .tab_list ul li a,
.mobile .box_head .tab_list ul li a {
    padding:  10px;
}

.jiadian .box_head .tab_list ul li,
.mobile .box_head .tab_list ul li {
    float: left;
}

.jiadian .box_body,
.mobile .box_body {
    height: 361px;
    /* background-color: hotpink; */
}

.jiadian .box_body .tab_list_item > div,
.mobile .box_body .tab_list_item > div {
    float: left;
    height: 361px;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_210 ul li {
    float: left;
    margin-left: 14px;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    line-height: 34px;
    text-align: center;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.bb {
    display: block;
    border-bottom: 1px solid #ccc;
}
