.page_width {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}

header .logo {  /*注意外边距塌陷问题，如果使用margin-top, 父盒子会和子盒子一起掉下来*/
    padding-top: 18px;  /*把子元素图片往下挤一挤*/
}

.register_area {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.register_area h3 {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #e4e4e4;
    padding: 0 10px
}

.register_area h3 span {
    font-size: 12px;
    font-weight: 400;
}

.register_area h3 a {
    color: #f00;
}

.register_area .login {
    float: right;
}

.reg_form {
    width: 660px;
    /* background-color: hotpink; */
    margin: 50px auto 0;  /*上边距是50px, 下边距是0， 左右自动居中*/
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.reg_form ul li input {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.reg_form li i {
    color: #f00;
    font-size: 16px;
    height: 37px;
    line-height: 37px;
    padding-top: 2px;
}

.error {
    color: #f00;
}

.safe {
    padding-left: 137px;
}

.safe em {
    padding: 0 15px;
    background-color: pink;
}

.safe .pwd_L {
    background-color: #f00;
}

.safe .pwd_M {
    background-color:yellow;
}

.safe .pwd_H {
    background-color: #0f0;
}

.reg_form ul li.agree {
    padding-left: 80px;
}

.reg_form ul li.agree input[type="checkbox"] {
    width: 10px;
    height: 12px;
    margin-right: 5px;
}

.reg_form ul li.agree a {
    color: #2aa0e9;
}

.reg_form .submit_btn {
    width: 200px;
    height: 34px;
    background-color: #f00;
    font-size: 14px;
    color: #fff;
    margin: 30px 0 0 100px;
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}

.links {
    margin-bottom: 15px;
}

.links a {
    margin: 0 3px;
}

.copyright {
    line-height: 20px;
}