<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-model结合radio的使用</title>
</head>

<body>
  <div id="app">
    <!-- <label for="male">男</label><input type="radio" id="male" name="gender"> -->
    <!-- <label for="female">女</label><input type="radio" id="female" name="gender"> -->

    <!--label的另一种使用方法-->
    <!--一旦使用v-model绑定统一个数据, 便可达到互斥的效果, 即可以省去name属性-->
    <label>男 <input type="radio" name="gender" value="男" v-model="gender"></label>  <!--绑定data中的gender-->
    <label>女 <input type="radio" name="gender" value="女" v-model="gender"></label>
    <h3>您选择的性别是: {{gender}}</h3>
  </div>


  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        msg: "Hello Vue~",
        gender: '男'  //由数据的双向绑定, 可达到初始化radio的效果
      }
    });
  </script>

</body>

</html>