@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1615718136864'); /* IE9 */
  src: url('iconfont.eot?t=1615718136864#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABnQAAAKDAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBAIEeATYCJAMICwYABCAFhG0HMBvEBcgOJR1HwSjlggBABM8f+37O3YrExUiOpExbkNUogRVf/h7J0VT2/ncuc0TC3stQAaI61IWfNi2nGUl0Z4fCjT3LsSMQbnL6/ueY8ep5FOYHmktGciTgwKYDjCoa2UZy5DeMXeASThMo1KqOb3ZiLoeislmTAnFOFQFFcz7ZslkyX8itWZktHlGO/HTlf4Q8hL+P71oiSpKTxSpbOByX0dCnlJ0WuCxfWvcN6Gk+C9g6sjAMySZWamNzAoLhAwpjQZ3QvoqDT6lyxjeIvWoF+9dZhcWgGfLuie8KbrUwgey4txcyPepuUmPxcmGr9vSN7/V14eVz7tVL/uZN72ZNfv/mesUqY9+8FXd7+dyLKz4+tLactUidgb2Hp53AbsDXBPZS8WO8S8de+rCq9fMDGXsaq705Tjclvyc+wRKVUq5LfsqGfwdNQsisB16kf4Hgd23b81bZ6J/8RDb4yPP+h57MelA/B/mnsAe/it+zJVsXWvqUrfJrHUnvqIkJhQqRgV2Vfseqau4rFfLV3J0jT0sKWfJ1I7Ixw5CjyAjkyjcBhYZMri9ShQmI7AIM2gAQyp1CUuoZspR7QmRjfiBHrT/IVR4BKLQWVTsW6Q0an2EgcJCxuIypZFvEMfJ4VJwBZd4QWFYYUgvAPBrEzQ1NxeQkWMDmmOMtKC2cE0yYbeIJcB4Yho0dZmsg8QaVc6ensZHUfahBsk0UN4MBAg7IMNEyjJLYLMTvzsVL388AinkGAWupqLEWAMZD+8eaNWjqgZiUWb0q7uUdzwJFC44jMIKxmbAJMAwYDDbMqR+mARKugToi4ujRaHcifWUN6yvMD8hlNVjqFPagLLkXIDBJRQgA') format('woff2'),
  url('iconfont.woff?t=1615718136864') format('woff'),
  url('iconfont.ttf?t=1615718136864') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1615718136864#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e60d";
}

