@charset "UTF-8";
.header {
  width: 300px;
  font-size: "微软雅黑";
  padding: 10px 20px 30px 40px;
  margin: 10px 20px 30px 40px;
  border: 1px solid red, 2px dashed blue, 3px dotted green;
  border: 3;
}
