.header {
  color: rgb(30, 40, 50);
  background-color: rgba(#1e2832, .2);
  background-color: red(#1e2832);
  background-color: green(#1e2832);
  background-color: blue(#1e2832);
  background-color: mix(#ff0000, #00ff00, 50%);  // 百分比是可选的参数。
}